html, body {
	height: 100%;
}

#sapper {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}

body {
	margin: 0;
	counter-reset: sidenote-count;
}

.body-text {
	font-variant: normal;
	text-transform: none;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #333;
	background-color: #f0f0f0;
	line-height: 1.5;
}

html {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0em;
	font-weight: 400;
	font-family: 'Courier New', Courier, monospace;
	text-transform: lowercase;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

p {
	margin: 1em auto;
}

a {
	color: inherit;
	text-decoration: dotted underline 2px;
}

a:hover {
	color: rgb(214, 20, 20);
	text-decoration: underline 2px;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

/* main p:first-of-type::first-letter {
	font-size: 3em;
	float: left;
	padding: .125em 0 0 0;
	font-variant: none;
	font-weight: bold;
} */
main p:first-child::first-line {
	font-variant: small-caps;
}

::selection {
	color: inherit;
	background-color: #ccc;
}

@media (min-width: 400px) {
	html {
		font-size: 20px;
	}
}